h1 , h5{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form-login{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 19px rgba(0,0,0,0.8);
}